
@{
    Layout = null;
}

<h1>Web API에서 파일 업로드 테스트</h1>

<form action="api/WebApiFileUpload" method="post"
      enctype="multipart/form-data">
    <input type="file" name="files" value=""  />
    <input type="submit" name="btnUpload" value="업로드" />
</form>
